<el-col :span="24">
    <el-form-item label="${fieldDescribe}" prop="${fieldName}" :label-width="labelWidth">
        <x-select v-model="model.${fieldName}" placeholder="请选择${fieldDescribe}" dict="${dictString}"/>
    </el-form-item>
</el-col>