<el-col :span="24">
    <el-form-item :label-width="labelWidth" prop="${fieldName}" label="${fieldDescribe}">
          <el-input-number v-model="model.${fieldName}" :precision="${fieldDecimal}" :step="1" ></el-input-number>
    </el-form-item>
</el-col>
